*::after , *::before{
  content: '';
  box-sizing: border-box;
}

#time{
  border-radius: 5px;
  color: #fff;
  background-color: #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1),
              0 2px 3px rgba(0, 0, 0, .9),
              0 3px 3px rgba(0, 0, 0, .8),
              0 4px 3px rgba(0, 0, 0, .7),
              0 5px 3px rgba(0, 0, 0, .6),
              0 6px 3px rgba(255, 255, 255, 1),
              0 7px 3px rgba(255, 255, 255, 1),
              0 8px 3px rgba(255, 255, 255, 1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 1),
              0 2px 3px rgba(0, 0, 0, .9),
              0 3px 3px rgba(0, 0, 0, .8),
              0 4px 3px rgba(0, 0, 0, .7),
              0 5px 3px rgba(0, 0, 0, .6),
              0 6px 3px rgba(0, 0, 0, .5);

}
